//
//  Development.xcconfig
//  Auth PriviyID
//
//  Created by Slamet Riyadi on 04/08/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Auth PriviyID (DEV)
APP_BUNDLE_ID = id.slametriyadi.Auth-PriviyID.dev
APP_VERSION = 1.0.0

BASE_API_URL = http:/$()/pretest-qa.dcidev.id/api/v1/
